.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
  }

  .card-header {
    padding: 1.5rem 1.5rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 0 solid #d9dee3;
  }

  .home{
    flex-wrap: wrap; /* Added flex-wrap property */
    flex: 1;
    padding-left:auto;  
    padding-right: auto;  
    margin-left: 7px;
    margin-right: 7px;     
    align-content: center;
    position: relative;
    
  }
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-dark {
    --bs-table-bg: #233446;
    --bs-table-striped-bg: #2a3a4c;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #394859;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #304051;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #394859;
  }


  .text-nowrap {
    white-space: nowrap !important;
  }

.table-border-bottom-0 tr:last-child td,
.table-border-bottom-0 tr:last-child th {
  border-bottom-width: 0;
}
